.horizontal{
    display: flexbox;
}

.p {
    float: right;
}



.grid-container {
   display: inline-grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 2px;
    align-items: left;
}



.enterSearch {
    display: flex;
    justify-content: left;
}

.taco {
    display: flex;
    justify-content: space-evenly;
}

